@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

$main-font: Roboto, sans-serif;
$primary-color: #fff;
$secondary-color: grey;
$margin: 80px;
$padding: 80px;
$nav-icon-size: 100px;



html{
  font-size: 12px;
}
body{
  font-size: 5rem;
  font-family: $main-font;
  color: $primary-color;
  h1{
    font-size: 20rem;
  }
  h3 {
    font-size: 5rem;
  }
}

.popout-menu-hide{
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: -101vw;
  top: 0;
  background: rgba(0,0,0, 0.5);
  font-size: 7rem;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  line-height: 110px;
}
.popout-menu-show{
  left:0;
}


.top-nav{
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position:fixed;
  top:0;
  padding: $padding;
  z-index: 5;

  .nav-left{
    width: $nav-icon-size;
    height: $nav-icon-size;

  }
}

.wide-nav-menu{
  margin-top: 5vh;
  font-size: 3rem;
  visibility: hidden;
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

@media (min-width: 1000px) {
  .nav-left{
    display: none;
  }
  .wide-nav-menu{
    visibility: visible;
  }
  .top-nav{
    padding: 0;
  }
}
